bin/
obj/
.editorconfig
*/bin/
*/obj/
/Chelp.slnLaunch.user
.vs/
/src/ChelpApp/publish.bat
/src/ChelpApp/Chelp.zip
/src/ChelpApp/Assets/CompilerTest/Out/out.exe
/src/ChelpApp/Debug/log.txt
/src/ChelpApp/Cache/Compilers.json
